body{
  /* background-image: url(../Images/3adb4519-1285-4d49-89ac-fae6820278d2.avif); */
  background-size:cover;
  background-position: 10% -2.5% !important;
  background-repeat: no-repeat !important; 
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh !important;
    width: 35vw !important;
  /* background-image: url(../Images/map.png); */


  }
  #sign_up_page_form{

    box-shadow: 0 0 20px -10px black;
background-color: #000000a9 !important;
border-radius: 10px;
position: relative;
z-index: 100;
left: 30px;
height: 60vh;
/* top: 100px; */
margin-top: 2vw;
  }
  #signup_page_main{
    background-image: url(../Images/3adb4519-1285-4d49-89ac-fae6820278d2.avif);
    background-size:cover;
    /* background-position: 10% -2.5% !important; */
    background-repeat: no-repeat !important; 
    /* width: 100vw; */
    height: 91vh;
    margin-top: -35px;
    position: relative;
  }
  
  
  
  .signup-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] ,
  input[type="number"]  {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc7a;
    border-radius: 4px;
    outline: none;
    background-color: #ffffffc0;
  }
  
  #signup-btn {
    background-color: #000;
    color: #fff;
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 10px 40px;
    font-weight: 700;
    cursor: pointer;
    width: 70%;
    transition: background-color 0.3s;
  }
  
  #signup-btn:hover {
    background-color: #fff;
    color: #000;
  }
  
  #form{
  
      display: grid;
      grid-template-columns: repeat(2, minmax(150px , 1fr)); /* Two columns with equal width */
      grid-gap: 5px; /* Adjust the spacing between columns */
      width: 100%;

  }
  #countrySelect{
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc7a;
    border-radius: 4px;
    outline: none;
    background-color: #ffffffc0;
    

  }
  #otp_verify{
    position: absolute;
    /* top: 40%;
    left: 40%; */
    background-color: #000000a8;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
#upload_profile{
  background-color: #fbbf13 !important;
  color: black !important;
  border: 1px solid white;
  width: 17vw;
}
#upload_profile_btn{
  background-color: #fbbf13 !important;
  color: black !important;
  border: 1px solid white;
  width: 14vw;
}
#signup_btn{
  background-color: #fbbf13 !important;
  color: black !important;
  width: 17vw;
  border: 1px solid white;
  
}
#signup_btn_company{
  background-color: #fbbf13 !important;
  color: black !important;
  width: 14vw;
  height: 3rem;
  border: 1px solid white;

  
}