@media screen and (min-width: 1801px) {
    #box {
        padding: 2% 0;
    }
    #current_location {
        position: absolute;
        right: 2.1rem;
        top: .7rem;
    }
    .login-container {
        padding: 0 20px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2%;
    }
    .login001 {
        height: 35%;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;

      
    }
}
@media screen and (min-width: 1401px) and (max-width: 1800px) {
    .css-jzIGNN {
        font-size: 36px;
        font-weight: 700;
    } 
    #box {
        padding: 1% 1%;
    }
    #current_location {
        position: absolute;
        right: 2.1rem;
        top: .7rem;
    }
    .login-container {
        padding: 0 20px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2%;
    }
    .login001 {
        height: 40%;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

      
    }
    #banner_img_home {

        height: 100vh;
       
    }
    #sign_up_page_form {
        margin-top: 3vw;
    }
    #sign_up_page_form {
        box-shadow: 0 0 20px -10px black;
        background-color: #000000a9 !important;
        border-radius: 10px;
        position: relative;
        z-index: 100;
        left: 30px;
        height: 60vh;
        margin-top: 8vw;
    }
    .signup-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content !important;
        width: 35vw !important;
    }
    #upload_profile_btn{
        width: fit-content;
        font-size: 12px;
    }
    #upload_profile{
        width: 15rem;
        font-size: 12px;
        margin: 0 5px;

    }
    #signup_btn{
        width: 15rem;
        font-size: 12px;
        margin: 0 5px;

    }
    #signup_btn_company{
        width: fit-content;
        font-size: 12px;
    }
    .option{
        padding: 5px 10px;
    }
    #signup_page_main{
        height: 100vh;
    }
    .form-group {
        margin-bottom: 2px;
        margin-top: 2px;
    }
}

@media screen and (min-width: 1136px) and (max-width: 1400px) {
    body{
font-size: 12px;
    }

    #box {
        height: -moz-fit-content;
        height: fit-content;
        width: 30rem;
        position: relative;
        box-shadow: #000000 0px 1px 1px 2px;
        border-radius: 20px;
        padding-bottom: 2vw;
    }
    .home2 {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: -5vw;
        height: 100vh;
    }
    .bg_home_right img {
        height: 80vh;
    }
    #main_component {
        padding-top: 4vw;
        position: relative;
        z-index: 1;
    }
    #current_location {
        position: absolute;
        right: 2rem;
        top: 1rem;
    }
    #banner_img_home {

        height: 100vh;
       
    }
    .login-options {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
        gap: 25px;
    }
    .login-container {
        padding: 0 20px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }
    .login001 {
        height: 55%;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

      
    }
    .form-group {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    #upload_profile {
        background-color: #fbbf13 !important;
        color: black !important;
        border: 1px solid white;
        font-size: 12px;
        width: 15vw;
        margin: 0 5px;
    }
    #signup_btn {
        background-color: #fbbf13 !important;
        color: black !important;
        border: 1px solid white;
        font-size: 12px;
        width: 15vw;
        margin: 0 5px;

    }
    input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
        width: 100%;
        padding: 10px;
        /* border: 1px solid #ccc; */
        border-radius: 4px;
        outline: none;
        background-color: rgb(255 255 255 / 90%);
        color: black;
        font-weight: 600;
        font-size: 12px;
    }
    #countrySelect {
        width: 100%;
        padding: 10px;
        border: 1px solid #cccccc7a;
        border-radius: 4px;
        outline: none;
        background-color: #ffffffc0;
        font-size: 12px;
    }
    #sign_up_page_form {
        box-shadow: 0 0 20px -10px black;
        background-color: #000000a9 !important;
        border-radius: 10px;
        position: relative;
        z-index: 100;
        left: 30px;
        height: 60vh;
        margin-top: 8vw;
    }
    .signup-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content !important;
        width: 35vw !important;
    }
    #upload_profile_btn{
        width: fit-content;
        font-size: 12px;
    }
    #signup_btn_company{
        width: fit-content;
        font-size: 12px;
    }
    .option{
        padding: 5px 10px;
    }
    #signup_page_main{
        height: 100vh;
    }
}

@media screen and (min-width: 1025px) and (max-width : 1100px){
    .home2{
        padding-top: 1vw;
    }
    .bg_home_right img{
        width: 30vw;
    }
    #current_location {
        position: absolute;
        right: 2.2rem;
        top: 1.2rem;
    }
    .css-jzIGNN {
        font-size: 20px;
        font-weight: 700;
    } 
    .css-dmdqlf-control {
    padding: 5px; 
 }

    #box {
        height: -moz-fit-content;
        height: fit-content;
        padding: 1% 0 ;
        width: 30%;
        background-color: rgba(236, 236, 230, 0.26);
        position: relative;
        box-shadow: #000000 0px 1px 1px 2px;
        border-radius: 20px;
    }
    .login-container {
        padding: 0 20px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2%;
    }
    .login001 {
        height: 56%;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;

      
    }
    #banner_img_home {

        height: 100vh;
       
    }
}