#main_component{
    height: 100%;
    width: 100%;
}
#signup_btn {
    background-color: #fbbf13 !important;
    color: black !important;
    border: 1px solid white;

}
@media screen and (min-width: 1801px) {
    #main_component{
        padding-top: 6vh;
    }
    #current_location {
        position: absolute;
        right: 2.1rem;
        top: .7rem;
    }
    .login-container {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .login001 {
        padding: 0;
        /* width: 15%; */
        display: flex;
        justify-content: center;
        align-items: center;

      
    }
    .form-group {
        margin-bottom: 4px;
        margin-top: 4px;
    }
    #login_btn button {
        margin-top: 20px;
    }
    button#login_btn {
        margin-top: 10px;
    }
    button.re-btn {
        width: fit-content;
        background-color: transparent !important;
        color: #fff !important;
    }
    button.re-btn1 {
        width: fit-content;
        background-color: transparent !important;
        color: #fff !important;
    }
   
    select{
        background-color: #edebea;
    }
    #countrySelect{
        background-color: #edebea;
        padding: 13px; 
    }

}
@media screen and (min-width: 1401px) and (max-width: 1800px) {
    .css-jzIGNN {
        font-size: 36px;
        font-weight: 700;
    } 
    #box {
        padding: 1% 1%;
        width: 30vw;
    }
    #current_location {
        position: absolute;
        right: 2.1rem;
        top: .7rem;
    }
    .login-container {
        padding: 0 20px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2%;
    }
    .login001 {
        height: 40%;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

      
    }
    #banner_img_home {

        height: 100vh;
       
    }

   
   
   
   
    .option{
        padding: 5px 10px;
    }
    #signup_page_main{
        height: 100vh;
    }
    .form-group {
        margin-bottom: 2px;
        margin-top: 2px;
    }
    button.re-btn {
        width: fit-content;
        background-color: transparent !important;
        color: #fff !important;
    }
    button.re-btn1 {
        width: fit-content;
        background-color: transparent !important;
        color: #fff !important;
    }
    /* #main_component {
        padding-top: 7vw;
        position: relative;
    } */
    .home_main {
        display: flex;
        gap: 4vw;
        justify-content: space-around;
        position: relative;
        padding-top: 2vw;
    }
    #googlemap {
        width: 60vw;
    }
    #login_btn{
        margin-top: 10px;
    }
    select{
        background-color: #edebea;
    }
    #countrySelect{
        background-color: #edebea; 
    }
}

@media screen and (min-width: 1101px) and (max-width: 1400px) {
  
    /* #main_component{
        margin-top: 8%;
        margin-bottom: 2%;
    } */
    #box {
        height: -moz-fit-content;
        height: fit-content;
        padding: 1% 0 ;
        width: 30vw;
        background-color: rgba(236, 236, 230, 0.26);
        position: relative;
        box-shadow: #000000 0px 1px 1px 2px;
        border-radius: 20px;
    }
    .home2 {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: -5vw;
        padding-top: 1vw;
    }
    .bg_home_right img {
        height: 80vh;
    }
    /* #main_component {
        padding-top: 20px;
        position: relative;
        z-index: 0;
    } */
    #current_location {
        position: absolute;
        right: 2rem;
        top: 1rem;
    }
    #banner_img_home {

        height: 100vh;
       
    }
    .login-options {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
        gap: 25px;
    }
    .login-container {
        padding: 0 20px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }
    .login001 {
        height: fit-content;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

      
    }
    .banner_img_home{
        height: 100vh;
    }
    .form-group {
        margin-bottom: 0px;
        margin-top: 0px;
    }
  
  
    input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
        width: 100%;
        padding: 10px;
        /* border: 1px solid #ccc; */
        border-radius: 4px;
        outline: none;
        background-color: rgb(255 255 255 / 90%);
        color: black;
        font-weight: 600;
        font-size: 12px;
    }
    #countrySelect {
        width: 100%;
        padding: 10px;
        border: 1px solid #cccccc7a;
        border-radius: 4px;
        outline: none;
        background-color: #ffffffc0;
        font-size: 12px;
    }
  
   
  
   
    .option{
        padding: 5px 10px;
    }
    #signup_page_main{
        height: 100vh;
    }
    #login_btn{
        margin-top: 1vw;
    }
    .form-group {
        margin-bottom: 2px;
        margin-top: 2px;
    }
    button.re-btn {
        width: fit-content;
        background-color: transparent !important;
        color: #fff !important;
    }
    button.re-btn1 {
        width: fit-content;
        background-color: transparent !important;
        color: #fff !important;
    }
    .home_main {
        display: flex;
        gap: 4vw;
        justify-content: space-around;
        position: relative;
        padding-top: 4vw;
    }
    #googlemap {
        width: 60vw;
    }
    h1{
        margin-bottom: 10px;
    }
    .signup-options {
        margin-bottom: 10px;
    }
    select{
        background-color: #edebea;
    }
    #countrySelect{
        background-color: #edebea; 
    }
}

@media screen and (min-width: 1025px) and (max-width : 1100px){
    .home2{
        height: 100vh;
    }
    .bg_home_right img{
        width: 30vw;
    }
    #current_location {
        position: absolute;
        right: 2.2rem;
        top: 1.2rem;
    }
    .css-jzIGNN {
        font-size: 20px;
        font-weight: 700;
    } 
    .css-dmdqlf-control {
    padding: 5px; 
 }

    #box {
        height: -moz-fit-content;
        height: fit-content;
        padding: 1% 0 ;
        width: 30%;
        background-color: rgba(236, 236, 230, 0.26);
        position: relative;
        box-shadow: #000000 0px 1px 1px 2px;
        border-radius: 20px;
    }
    .login-container {
        padding: 0 20px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2%;
    }
    .login001 {
        height: 56%;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;

      
    }
    #banner_img_home {

        height: 100vh;
       
    }
    .form-group {
        margin-bottom: 2px;
        margin-top: 2px;
    }
    #login_btn{
        margin-top: 1vw;
    }
   
  
    #signup_page_main{
        height: 94.5vh;
    }
   
   
  
    .chat-box {
        bottom: 5px;
        font-size: 12px
    }
    button.re-btn {
        background-color: transparent !important;
        color: #fff !important;
        font-size: 10px;
        transition: all .3 ease-in-out !important;
        width: 10vw;

    }
    button.re-btn:hover {
        transform: scale(0.9) !important;
        width: 10vw;
        background-color: #fbbf14!important;
        font-size: 10px;
        color: #000 !important;
        font-weight: 600;

    }
    button.re-btn1 {
        width: fit-content;
        background-color: transparent !important;
        color: #fff !important;
        font-size: 10px;
        transition: all .3 ease-in-out !important;
        width: 10vw;
    }
    button.re-btn1:hover {font-size: 12px;
        transform: scale(0.9) !important;
        width: 10vw;
        background-color: #fbbf14 !important;
        font-size: 10px;
        color: #000 !important;
        font-weight: 600;

    }
    h1{
        margin-bottom: 5px;
        font-size: 20px;
    }
    .signup-options {
        margin-bottom: 5px;
    }
    .option{
        font-size: 12px;
        padding: 5px 20px;
    }
    input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
        width: 100%;
        padding: 5px;
        border-radius: 4px;
        outline: none;
        background-color: rgb(255 255 255 / 90%);
        color: black;
        font-weight: 600;
        font-size: 12px;
    }
    select{
        font-size: 12px;
    }
    #countrySelect{
        padding: 6px;
    }
   
    select{
        background-color: #edebea;
    }
    #countrySelect{
        background-color: #edebea; 
    }
}
@media screen and (max-width : 768) {
    .signup-container form{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}